.nav-landing {
  display: none;
}
  p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0px;
   }
   /* make the well swell */
.well {
  border-color:#eee;
}
.well-sm {
  padding: 3px 10px !important;
}

.item h4 a {
  color: #333;
}

.item img.image {
  max-width: 100%;
  margin-top: 9px;
}

.info {
  padding:4px;
}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:         top, left, opacity;
  transition-property:         transform, opacity;
}


/* responsive media queries */

@media (max-width: 768px) {
  header h1 small {
    display: block;
  }

  header div.description {
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .isotope .item {
    position: static ! important;
    -webkit-transform: translate(0px, 0px) ! important;
    -moz-transform: translate(0px, 0px) ! important;
    transform: translate(0px, 0px) ! important;
  }
}
.isotope {
  position: relative;
  overflow: visible !important;
  height: 0px !important;
}
.fa span {
  font-family: lato;
}
#m_property_attribute{
  padding: 0 !important;
}
#m_property_attribute li{
  display: inline;
}
.template_img {
  transition: border-color .25s linear;
  cursor:pointer;
  width:100%;
  height: 120px;
  background: #fff;
  background-size:cover;
  position: relative;
}
.cb_checked {
  border:5px solid #1abc9c;
}
.cb_uncheck {
  border:5px solid #bdc3c7;
}
.twitter-typeahead .tt-suggestion div.sugg-list {
  padding: 6px 14px;
  margin: 0;
  font-size: 14px;
  height: auto;
  width:100% !important;
}
.empty-message {
  padding: 5px 10px;
  text-align: center;
}
.content-wrap section {
  padding: 10px 0 0;
}


  .property-description{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
  }
  /*.property-label{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
  }*/
 
  .thumb-table td {
    font-size: 14px;
    font-weight: 700;
  }

  /*.label {
    font-size: 14px;
    font-weight: 500;
  }*/
  label.checkbox,label.radio {
    cursor:pointer;
  }
  .tab-attachments {
    display: block;
  }
  table.dataTable thead th, table.dataTable thead td {


   border-bottom: 2px solid #ddd;;
 }
 div.test
 {
  white-space:nowrap;
  max-width:12em;
  overflow:hidden;

}

.tabs-style-tzoid nav ul li a::after {
    background: #BDC3C7;
}
.tabs-style-tzoid nav ul li a {
    color: #777;
  }
.profile-usertitle-name:hover #user-edit {
  display:inline-block !important;
}

/*from blowup*/
.list-type {
    font-size: 14px !important;
    font-weight: 600 !important;
}
.price-list .panel-body {
    padding: 0px 15px !important;
}
.price-list {
    width: 100%;
   
    padding: 0px 20px;
    display:inline-block; 
    width:auto;border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.price-list h6 {
    margin-top: 5px;
    margin-bottom: 0px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/* sort styles */
.form-group {
  margin: 0px 0px 15px;
}
/*.text-center {
  margin: 15px 0 10px;
}*/
label {
  margin-bottom: 0px;
}
.ui-slider-value {
    float: right;
    margin-top: 5px;
    font-size: 12px;
}
.well-sm {
    padding: 9px;

    border-radius: 3px;
}
.sort {
  margin-top: 10px;
}
.col-md-8 {
  margin-top: 10px
}
hr {
    margin-top: 15px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
}
.tabs-style-tzoid nav ul li a span {
    font-weight: 500;
    font-size: 16px;
}
.tabs-style-tzoid nav ul li a {
    padding: 5px 1.5em 5px 0.3em;
}
.tab-fa::before {
    font-size: 1em;
  }
.tabs-style-tzoid nav {
  margin-bottom: -2px;
}
.input-sm, .form-group-sm .form-control, .form-group-sm .select2-search input[type="text"], .select2-search input[type="text"] {
    font-weight: 500;
}
[hidden], template {
    color: #888;
}


/* tangina */
.panel-search label{
  font-size: 12px;
}
.panel-search .form-group.form-group-sm {
  margin-bottom: 5px;
}
.irs-from, .irs-to, .irs-single {
  background: rgb(72, 201, 176) !important;
}
.irs-from:after, .irs-to:after, .irs-single:after {
  border-top-color:  rgb(72, 201, 176) !important;
}


.mix{
    /*display: none;*/
}
/* thumbnail */
.label-status {
  font-size: 12px !important;
  margin-right: 5px;  
  font-weight: normal;
  padding: 6px;
  background-color: #555;
}

.list_view .label-status {
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.property-attr:not(:last-child):after {
  content: " • ";
  margin-right: 5px;
  margin-left: 5px;
  padding: 3px;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(136, 136, 136);
}
[role=menu].actions {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}
[role=menu].actions > li > a i.fa{
  margin-right: 5px;
}
.link {
  color: #1abc9c;
}
.link:hover,
.link:active,
.link:focus {
  color: #48c9b0;
  opacity: .8;
}
.grid-details > p > span {
  font-size: 12px;
  color: #777;
}
.radio-inline {
  font-weight: 700;
}