.msg {
    cursor: pointer;
}

.msg .msg-thumb {
    width: 75px;
    margin-right: 20px;
}

.msg-body {
    padding-left: 20px;
}

.reply .date-title {
    text-align: right;
    font-weight: 300;
    font-size: 10px;
}

.reply .secondary {
    font-size: 12px;
    font-weight: 300;
}
.twitter-typeahead .tt-suggestion div.sugg-list {
  padding: 6px 14px;
  margin: 0;
  font-size: 14px;
  height: auto;
  width:100% !important;
 }