.ha-bg-testi {
    background: url(/img/parallax-bg.jpg) 50% 0px no-repeat fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: 270px;
    margin: 0 auto;
    width: 100%;
    display: table;
    vertical-align: middle;
    margin-top: 50px;
}

.ha-bg-testi .ha-testi-body {
    display: table-cell;
    vertical-align: middle;
}

.ha-bg-testi .ha-testi-body .testi-card {
    background-color: rgba(0,0,0,.5);
    padding: 100px;
}

.ha-bg-testi .ha-content-whitecolor {
    font-size: 17px;
    color: #ffffff;
    width: 45%;
    margin: auto;
}

.ha-bg-testi .ha-diamond-divider-md {
    margin: 15px 0px;
}

.ha-bg-testi .ha-heading-testi {
    font-style: italic;
    font-weight: bold;
    text-transform: none;
    color: #fff;
    padding-bottom: 0px;
}